* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

html {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
body {
  background: #eee;
  background-image: url("./images/gplay-texture.png");
  min-height: 100%;
}

#root {
  min-height: 100%;
}

button:disabled {
  cursor: not-allowed !important;
  color: rgba(0, 0, 0, 0.26) !important;
}

.navbar {
  background-color: #f5ba13;
  width: 100%;
  margin: auto 0;
  padding: 10px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  color: #fff;
  font-family: 'Gochi Hand', cursive;
  font-size: 2.5rem;
  padding: 0;
}

.navbar-nav {
  padding-right: 25px;
}

.nav-link{
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar-link{
  margin-right: 10px;
}

.note {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  padding: 20px;
  width: 30%;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 8px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  background: transparent;
  float: right;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 40%;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note .addBtn {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form.create-note .impBtn {
  position: absolute;
  right: -15px;
  top: -20px;
  border: none;
  border-radius: 50%;
  font-size: 1.7rem;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: transparent;
  color: #f5ba13;
  transform: rotate(25deg) !important;
}

/* Loading Spinner  */
.MuiCircularProgress-colorPrimary {
  color: #f5ba13 !important;
}

/* Editor */
.ql-tooltip {
  background-color: #d49d00 !important;
  border-radius: 20px !important;
}

.ql-editor {
  font-size: 0.9rem !important;
}

/* Dialog Box */
.MuiPaper-rounded {
  border-radius: 14px !important;
}

.tooltip-container {
  width: 100%;
  border: none;
  background: transparent;
}

/* Home Page CSS */

/* Home Section */
#home {
  padding: 4.5% 0;
}

.homeImgCol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeHeadingCol {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

.homeHeadingCol h1 {
  font-size: 2.9rem;
}

.mainBtn {
  font-size: 0.9rem;
  width: 50%;
  margin: 1% 3% 2% 0;
}

/* Feature Section */
.yellowBackground{
  background-color: #f5ba13;
}

.overflow-hidden {
  overflow: hidden;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }

}

/* Format Section */
#format {
  padding: 3% 0;
  text-align: center;
}

#format h1 {
  margin-bottom: 1rem;
}

.formatBtnCol li {
  margin-bottom: 1rem;
}

.formatBtnCol span {
  min-width: 30px;
  height: 30px;
  background-color: #f5ba13;
  color: white;
  padding: 2px 5px;
  margin-right: 5px;
}

/* CTA Section */
#cta{
  text-align: center;
  background-color: #f5ba13;
  color: white;
  padding: 4% 10%;
}

.download-button {
  font-size: 0.9rem;
  width: 30%;
  margin: 1% 3% 2% 0;
}

/* Footer */
#footer{
  text-align: center;
  color: white;
  padding: 3% 0 2% 0;
  background-color: #000000;
}

a.social {
  text-decoration: none;
}

.social{
  margin: 0 15px 15px 0;
  cursor: pointer;
  color: white;
  transition: all 0.5s ease;
}

.social:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 800px) {
  
  .homeImgCol img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .MuiDialog-root .quill {
    margin-top: 5px;
  }

  form.create-note .impBtn {
    width: 30px;
  }
}

@media screen and (max-width: 450px) {
  form.create-note{
    width: 90%;
  }

  .note{
    width: 90%;
  }

  .homeHeadingCol h1 {
    font-size: 2.5rem;
  }

  .mainBtn {
    width: 80%;
  }

  .download-button {
    width: 100%;
  }

  #format p {
    padding: 0 !important;
    text-align: left;
    font-size: 1rem !important;
  }

  #footer, #cta, #format {
    padding: 7% 2%;
  }

  .px-3 {
    padding: 0 !important;
  }
}

@media screen and (max-width: 330px) {
  form.create-note .impBtn {
    width: 20px;
    right: -5px;
    top: -17px;
  }
}
